* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 56.25rem;
    margin: auto;
}

#ticket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: lightgray;
    border-radius: 2.5rem;
}

h1 {
    text-align: center;
    padding: .625rem 0;
    border-bottom: 1px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.col {
    padding: 1.875rem 1.25rem;
}
.details {
   font-size: 1.875rem;
   margin-bottom: 1.875rem;
}

.price {
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
}

#card-type {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.875rem 1.25rem;
}